<style>
    .form-control {
        height: 32px;
    }

    .table>tbody>tr>td {
        border-top: 0;
    }

    .modal-dialog table select {
        padding-top: 5px!important;
    }

    .box-content .table tr td select {
        width: 100%;
    }

    .modal-footer {
        text-align: center!important;
    }

    .info_special_ps {
        background-color: #d9edf7;
        border-color: #bce8f1;
        color: #3a87ad;
        padding: 5px;
        margin: 5px 0 0 0;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .modal-backdrop {
        z-index: 1110 !important;
    }

    .modal {
        z-index: 1111 !important;
    }

    .dailytitle {
        text-align: center !important;
    }
    .issue_exe_tpl{margin-top: 20px;}
    .issue_exe_tpl .download{vertical-align: middle;}
</style>
<h3 class="js_exetitle center dailytitle">提案ID</h3>
<table class="table issue_exe_tpl">
    <tr>
        <td style="width: 150px;vertical-align: middle;">　　　　上传文件
        </td>
        <td>
            <div id="uploader" name="h_key" class="wu-example">
                <div id="thelist" class="uploader-list"></div>
                <div class="btns">
                    <div id="picker">服务器装机需求信息文件</div>
                </div>
            </div>
        </td>
    </tr>
</table>


<!-- jQuery -->
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/jquery/jquery.validate.js"></script>
<script type="text/javascript" src="/js/webuploader.js"></script>
<script src="/js/jquery.tools.js"></script>
<script type="text/javascript">
    $(document).ready(function() {

        $(".modal-dialog").removeClass("modal-lg")

        $(".js_remark_title").hide();
        $(".js_remark").hide();
        $(".inform_area").remove();
        $(".modal-footer").hide();
        $(".js_exetitle").html('提案：' + $.getUrlParam('id') + ' 服务器系统需求整理(子) ')

        var uploader;
        $("#addCheck").on("shown.bs.modal", function() {

            uploader = WebUploader.create({

                // swf文件路径
                swf: '/js/Uploader.swf',

                // 文件接收服务端。
                server: "/api/issue_exe/uploadExcelFile?id=" + $.getUrlParam("id") + "&role=" + $.getUrlParam("role"),

                // 选择文件的按钮。可选。
                // 内部根据当前运行是创建，可能是input元素，也可能是flash.
                pick: '#picker',

                // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
                resize: false,
                duplicate: true,
                auto: true
                // fileNumLimit:1
            });
            $('.webuploader-pick').next().css({
                'z-index': 9999
            })
            // 当有文件被添加进队列的时候
            uploader.on('fileQueued', function(file) {
                $("#thelist").append('<div id="' + file.id + '" class="item">' +
                        '<h4 class="info">' + file.name + '</h4>' +
                        '<p class="state">等待上传...</p>' +
                        '</div>');
            });
            uploader.on('uploadSuccess', function(file, response) {
                // 根据返回结果展示相应信息
                $('#' + file.id).find('p.state').text(response.msg);
                if (response.status) {
                    $(".js_remark").val(response.msg);
                    $("#callback1").trigger("click");//提案直接提走
                }
                //为保证只有一个文件上传：如果多个文件上传，取消第一个文件
                if ($("#thelist .item").size() > 1) {
                    uploader.removeFile(file);
                    $("#thelist .item").eq(0).remove()

                }
            });
            // 文件上传过程中创建进度条实时显示。
            uploader.on('uploadProgress', function(file, percentage) {
                var $li = $('#' + file.id),
                        $percent = $li.find('.progress .progress-bar');

                // 避免重复创建
                if (!$percent.length) {
                    $percent = $('<div class="progress progress-striped active">' +
                            '<div class="progress-bar" role="progressbar" style="width: 0%">' +
                            '</div>' +
                            '</div>').appendTo($li).find('.progress-bar');
                }

                $li.find('p.state').text('上传中');

                $percent.css('width', percentage * 100 + '%');
            });
            uploader.on('uploadError', function(file, reason) {
                $('#' + file.id).find('p.state').text('上传出错');
                if ($("#thelist .item").size() > 1) {
                    uploader.removeFile(file);
                    $("#thelist .item").eq(0).remove()
                }
            });
            uploader.on('error', function(type) {
                $('#' + file.id).find('p.state').text('上传出错');
            });

            uploader.on('uploadComplete', function(file, response) {
                $('#' + file.id).find('.progress').fadeOut();
            });
        })
        //关闭模态框销毁WebUploader，解决再次打开模态框时按钮越变越大问题
        $('#addCheck').on('hide.bs.modal', function() {
            $("#responeseText").text("");
            uploader.destroy();
        });

    });
</script>