<style>
    .form-control {
        height: 32px;
    }
    
    .daily_exe_tpl tr td:first-child {
        text-align: right;
        vertical-align: middle;
        border-top: 0px;
    }
    
    .daily_exe_tpl tr td:nth-child(2) {
        vertical-align: middle;
        border-top: 0px;
    }
    
    .daily_exe_tpl tr td:nth-child(3) {
        vertical-align: middle;
        border-top: 0px;
        position: relative;
    }
    
    .daily_exe_tpl tr td:nth-child(3) label {
        width: 200px;
        height: 48px;
        position: absolute;
        top: 0px;
        line-height: 48px;
    }
    
    .daily_exe_tpl tr td:nth-child(4) {
        border-top: 0px;
    }
    
    .daily_exe_tpl select {
        height: 32px;
    }
    
    #info textarea {
        height: auto !important;
    }
    
    #info select {
        height: 32px !important;
    }
    
    #info label {
        padding-left: 10px;
    }
    
    .modal-dialog table select {
        padding-top: 5px!important;
    }
    
    .box-content .table tr td select {
        width: 100%;
    }
    
    .modal-footer {
        text-align: center!important;
    }
    
    #modal_validate table tr td {
        position: relative;
    }
    
    #modal_validate table tr td label.error {
        width: 200px;
        color: #f00;
        font-size: 12px;
        position: absolute;
        left: 100%;
        top: 15px;
    }
    
    #editTableModal table tr td {
        position: relative;
    }
    
    #editTableModal table tr td label.error {
        width: 200px;
        color: #f00;
        font-size: 12px;
        position: absolute;
        left: 100%;
        top: 15px;
    }
    
    .option_filds {
        display: none;
    }
    
    .option_filds textarea {
        height: auto !important;
    }
    
    .select2-container--default .select2-selection--multiple {
        border-color: #ccc !important;
    }
    
    #createServerForm .form_atcion .reset {
        margin-left: 30%;
    }
    
    #createServerForm .form_atcion .submit {
        margin-left: 30px;
    }
    
    .info_special_ps {
        background-color: #d9edf7;
        border-color: #bce8f1;
        color: #3a87ad;
        padding: 5px;
        margin: 5px 0 0 0;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    
    .modal-backdrop {
        z-index: 1110 !important;
    }
    
    .modal {
        z-index: 1111 !important;
    }
    
    .dailytitle {
        text-align: center !important;
    }
</style>

<form action="" id="dailyForm">
    <table class="table daily_exe_tpl" id="info">
        <tbody id="info">
            <tr>
                <td colspan='2' class="dailytitle ">
                    <h3 class="js_dailytitle">内网网络巡检</h3>
                </td>
            </tr>
            <tr>
                <td width="10%"> <i class="glyphicon glyphicon-star red"></i>
                    <span class="js_field">竖井交换机故障数量</span>
                </td>
                <td width="40%" colspan="2">
                    <input type="text" class="form-control number" value="0" name="shaft_num" required placeholder="数字">
                </td>
                <td width="5%"></td>
            </tr>
            <tr>
                <td width="10%">
                    <span class="js_field">竖井交换机故障描述</span>
                </td>
                <td width="40%" colspan="2">
                    <textarea type="text" class="form-control" name="shaft_desc" placeholder="若无,则为空" value="" rows="3"></textarea>
                </td>
                <td width="5%"></td>
            </tr>
            <tr>
                <td width="10%"> <i class="glyphicon glyphicon-star red"></i>
                    <span class="js_field">2层机房交换机故障数量</span>
                </td>
                <td width="40%" colspan="2">
                    <input type="text" class="form-control number" value="0" name="twolayer_num" required placeholder="数字">
                </td>
                <td width="5%"></td>
            </tr>
            <tr>
                <td width="10%">
                    <span class="js_field">2层机房交换机故障描述</span>
                </td>
                <td width="40%" colspan="2">
                    <textarea type="text" class="form-control" name="twolayer_desc" placeholder="若无,则为空" value="" rows="3"></textarea>
                </td>
                <td width="5%"></td>
            </tr>
            <tr>
                <td width="10%"> <i class="glyphicon glyphicon-star red"></i>
                    <span class="js_field">9层机房交换机故障数量</span>
                </td>
                <td width="40%" colspan="2">
                    <input type="text" class="form-control number" value="0" name="ninelayer_num" required placeholder="数字">
                </td>
                <td width="5%"></td>
            </tr>
            <tr>
                <td width="10%">
                    <span class="js_field">9层机房交换机故障描述</span>
                </td>
                <td width="40%" colspan="2">
                    <textarea type="text" class="form-control" name="ninelayer_desc" placeholder="若无,则为空" value="" rows="3"></textarea>
                </td>
                <td width="5%"></td>
            </tr>
            <tr>
                <td width="10%"> <i class="glyphicon glyphicon-star red"></i>
                    <span class="js_field">15层机房交换机故障数量</span>
                </td>
                <td width="40%" colspan="2">
                    <input type="text" class="form-control number" value="0" name="fifteenlayer_num" required placeholder="数字">
                </td>
                <td width="5%"></td>
            </tr>
            <tr>
                <td width="10%">
                    <span class="js_field">15层机房交换机故障描述</span>
                </td>
                <td width="40%" colspan="2">
                    <textarea type="text" class="form-control" name="fifteenlayer_desc" placeholder="若无,则为空" value="" rows="3"></textarea>
                </td>
                <td width="5%"></td>
            </tr>
            <tr>
                <td width="10%">
                    <span class="js_field"></span>
                </td>
                <td width="40%" colspan="2">
                    <p class="form_atcion">
                        <button class="btn btn-primary submit" type="submit"><i class="glyphicon glyphicon-share"></i>提交</button>
                    </p>
                </td>
                <td width="5%"></td>
            </tr>
        </tbody>
    </table>

</form>

<!-- jQuery -->
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/jquery/jquery.validate.js"></script>
<script src="/js/jquery.tools.js"></script>
<script src="/js/ifos.js"></script>
<script type="text/javascript">
    $(document).ready(function() {

        var list = {
            init: function() {
                var that = this;
                that.getDailyIssueInfo();
                $('.DailyServer-list').eq(0).css({
                    "background-color": "#eeeeee"
                });

                $('#DailyServer-list').css({
                    "background-color": "#eeeeee"
                });
                $('#DailyServer').addClass('active').find('ul').slideToggle();
                $("#dailyForm").validate({
                    ignore: [],
                    errorPlacement: function(error, element) {
                        $(element).closest("tr").children('td').eq(2).html(error);
                    },
                    //验证通过后提交数据
                    submitHandler: function(form) {
                        that.updateDailyInfo();
                    },
                    debug: true
                });
                var type = $.getUrlParam("type")
                if (type == "ifengidccom") {
                    $("#info").remove();
                    $("#idc_info").show()
                } else {
                    $("#idc_info").remove();
                }
                $(".js_dailytitle").html('提案：' + $.getUrlParam('id') + ' 内网网络巡检')
            },
            getDailyIssueInfo: function() {
                $.ajax({
                    type: "get",
                    dataType: "json",
                    url: "/api/issue_exe/getDailyIssueInfo?id=" + $.getUrlParam("id") + "role=" + $.getUrlParam("role"),
                    success: function(data) { //提交成功的回调函数
                        console.log(data);
                    }
                });
            },
            updateDailyInfo: function() {
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/api/issue_exe/updateDailyInfo?id=" + $.getUrlParam("id") + "&role=" + $.getUrlParam("role"),
                    data: {
                        server_id: $.getUrlParam("id"),
                        type: 'intnetwork',
                        shaft_num: $('input[name = "shaft_num"]').val(),
                        twolayer_num: $('input[name = "twolayer_num"]').val(),
                        ninelayer_num: $('input[name = "ninelayer_num"]').val(),
                        fifteenlayer_num: $('input[name = "fifteenlayer_num"]').val(),

                        shaft_desc: $('textarea[name = "shaft_desc"]').val(),
                        twolayer_desc: $('textarea[name = "twolayer_desc"]').val(),
                        ninelayer_desc: $('textarea[name = "ninelayer_desc"]').val(),
                        fifteenlayer_desc: $('textarea[name = "fifteenlayer_desc"]').val()

                    },
                    success: function(data) { //提交成功的回调函数
                        $('.js_remark').val(data.msg)
                    }
                });
            },
        }

        list.init();

    });
</script>