<style>
.form-control {
    height: 32px;
}

.daily_exe_tpl tr td:first-child {
    text-align: right;
    vertical-align: middle;
    border-top: 0px;
}

.daily_exe_tpl tr td:nth-child(2) {
    vertical-align: middle;
    border-top: 0px;
}

.daily_exe_tpl tr td:nth-child(3) {
    vertical-align: middle;
    border-top: 0px;
    position: relative;
}

.daily_exe_tpl tr td:nth-child(3) label {
    width: 200px;
    height: 48px;
    position: absolute;
    top: 0px;
    line-height: 48px;
}

.daily_exe_tpl tr td:nth-child(4) {
    border-top: 0px;
}

.daily_exe_tpl select {
    height: 32px;
}

#info textarea {
    height: auto !important;
}

#info select {
    height: 32px !important;
}

#info label {
    padding-left: 10px;
}

.modal-dialog table select {
    padding-top: 5px!important;
}

.box-content .table tr td select {
    width: 100%;
}

.modal-footer {
    text-align: center!important;
}

#modal_validate table tr td {
    position: relative;
}

#modal_validate table tr td label.error {
    width: 200px;
    color: #f00;
    font-size: 12px;
    position: absolute;
    left: 100%;
    top: 15px;
}

#editTableModal table tr td {
    position: relative;
}

#editTableModal table tr td label.error {
    width: 200px;
    color: #f00;
    font-size: 12px;
    position: absolute;
    left: 100%;
    top: 15px;
}

.option_filds {
    display: none;
}

.option_filds textarea {
    height: auto !important;
}

.select2-container--default .select2-selection--multiple {
    border-color: #ccc !important;
}

#createServerForm .form_atcion .reset {
    margin-left: 30%;
}

#createServerForm .form_atcion .submit {
    margin-left: 30px;
}

.info_special_ps {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad;
    padding: 5px;
    margin: 5px 0 0 0;
    border: 1px solid transparent;
    border-radius: 4px;
}

.modal-backdrop {
    z-index: 1110 !important;
}

.modal {
    z-index: 1111 !important;
}

.dailytitle {
    text-align: center !important;
}

.center {
    text-align: center;
}

.server_item {
    border: 1px solid #ddd;
    margin-bottom: 18px;
    position: relative;
}
.remove_server{
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
    z-index: 100;
}
.btn_area{width: 100%}
</style>
<form action="" id="vsan">
    <h3 class="js_dailytitle center">提案ID</h3>
    <div class="server_item">
        <table class="table daily_exe_tpl">
            <tbody id="machines">
                <tr>
                    <td width="20%">
                        <span class="js_field">服务器内网IP</span>
                    </td>
                    <td width="60%" colspan="2">
                        是否需要调解
                    </td>
                    <td width="10%"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <table class="btn_area js_servers">
        <tbody>
            <tr>
                <td width="30%">
                    <span class="js_field"></span>
                </td>
                <td width="60%" colspan="2">
                    <p class="form_atcion">
                        <button class="btn btn-primary submit" type="submit"><i class="glyphicon glyphicon-share"></i>提交</button>
                    </p>
                </td>
                <td width="10%"></td>
            </tr>
        </tbody>
    </table>
</form>
<!-- jQuery -->
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/jquery/jquery.validate.js"></script>
<script type="text/javascript" src="/js/webuploader.js"></script>
<script src="/js/jquery.tools.js"></script>
<script type="text/javascript">
$(document).ready(function() {

    $(document).on("click", '.machine_adjust', function() {
        var submitFlag = true

        $.each($(".machine_adjust:checked"), function(key,val) {
            if($(this).val() == 1){
                submitFlag = true
                return false
            }else{
                submitFlag = false

            }



        })
        $(".submit").attr('disabled', !submitFlag)

        if($(this).val()==1){
            if(!$("[name='remarks"+$(this).attr("index")+"']").size()){
                var asjustHtml = '';
                asjustHtml+='<tr class="asjust_area">';
                asjustHtml+='<td width="20%"> <i class="glyphicon glyphicon-star red"></i>';
                asjustHtml+='<span class="js_field">协调说明</span>';
                asjustHtml+='</td>';
                asjustHtml+='<td width="60%" colspan="2">';
                asjustHtml+='<textarea type="text" class="form-control remarks" name="remarks'+$(this).attr("index")+'" required data-label="AC健康状态" value="" rows="3" placeholder=""></textarea>';
                asjustHtml+='</td>';
                asjustHtml+='<td width="10%"></td>';
                asjustHtml+='</tr>';
                $(this).parents('tr').after(asjustHtml)
            }
        }else{
            $(this).parents('tr').next('.asjust_area').remove()
        }

    })

    var list = {
        init: function() {
            var that = this;
            that.getCoordinateInfo()
           
            $("#vsan").validate({
                ignore: [],
                errorPlacement: function(error, element) {
                    $(element).closest("tr").children('td').eq(2).html(error);
                },
                //验证通过后提交数据
                submitHandler: function(form) {
                    $(".submit").attr('disabled', true)
                    that.saveVsanInfo();
                },
                debug: true
            });
            $(".js_dailytitle").html('提案：' + $.getUrlParam('id') + ' 申请服务器故障报修')
            $("[name='server_id']").val($.getUrlParam('id'))
           
        },
        saveVsanInfo: function() {
            var descJson=[]
            $.each($(".js_machine"), function(key,val) {
                if($("[name='adjust"+key+"']:checked").val()==1){
                    console.log(key)
                    descJson.push({ip:$(".js_machine").eq(key).html(),desc:$("[name='remarks"+key+"']").val()})
                }

            })

            $.ajax({
                type: "post",
                dataType: "json",
                url: "/api/Issue_Exe/createCoordinateServer?id=" + $.getUrlParam("id") + "&role=" + $.getUrlParam("role"),
                data: {
                    descJson: JSON.stringify(descJson),
                },
                success: function(data) { //提交成功的回调函数
                    $('.js_remark').val(data.msg)
                    if (data.code == "400") {
                        $(".submit").attr('disabled', false)
                    }
                    
                    $.ajax({
                        url: "/api/issue_server/exeServer",
                        type: "POST",
                        dataType: "json",
                        data: {
                            id:$.getUrlParam("id"),
                            remarks: data.msg,
                            informs:$(".js_informs").val(),
                            exeId:'e2',
                            exeAdd:'1'
                        },
                        success: function(result) {
                            $('#addCheck').modal('hide');
                            $.alert(result.msg,function(){
                                window.location.href="/issue/server/myAssignment"
                            });
                        }
                    })

                }
            });
           
        },  
        getCoordinateInfo: function() {
            var that = this;
           
            $.ajax({
                type: "post",
                dataType: "json",
                url: "/api/Issue_Exe/getCoordinateInfo?id=" + $.getUrlParam("id") + "&role=" + $.getUrlParam("role"),
                success: function(result) { //提交成功的回调函数
                    var machinesHtml = '';
                    $.each(result.data, function(key, val) {
                       
                        machinesHtml+='<tr>';
                        machinesHtml+='<td width="20%"> <i class="glyphicon glyphicon-star red"></i>';
                        machinesHtml+='<span class="js_machine">'+val.int_ip+'</span>';
                        machinesHtml+='</td>';
                        machinesHtml+='<td width="60%" colspan="2">';
                        machinesHtml+='<input class="machine_adjust" index="'+key+'" type="radio" name="adjust'+key+'" value=1> 是 　　<input class="machine_adjust" type="radio" checked name="adjust'+key+'" value=0> 否';
                        machinesHtml+='</td>';
                        machinesHtml+='<td width="10%"></td>';
                        machinesHtml+='</tr>';

                    })
                    $("#machines").append(machinesHtml)
                    $(".submit").attr('disabled', true)

                }
            });
        },
    }

    list.init();

});
</script>