<style>
.form-control {
    height: 32px;
}

.daily_exe_tpl tr td:first-child {
    text-align: right;
    vertical-align: middle;
    border-top: 0px;
}

.daily_exe_tpl tr td:nth-child(2) {
    vertical-align: middle;
    border-top: 0px;
}

.daily_exe_tpl tr td:nth-child(3) {
    vertical-align: middle;
    border-top: 0px;
    position: relative;
}

.daily_exe_tpl tr td:nth-child(3) label {
    width: 200px;
    height: 48px;
    position: absolute;
    top: 0px;
    line-height: 48px;
}

.daily_exe_tpl tr td:nth-child(4) {
    border-top: 0px;
}

.daily_exe_tpl select {
    height: 32px;
}

#info textarea {
    height: auto !important;
}

#info select {
    height: 32px !important;
}

#info label {
    padding-left: 10px;
}

.modal-dialog table select {
    padding-top: 5px!important;
}

.box-content .table tr td select {
    width: 100%;
}

.modal-footer {
    text-align: center!important;
}

#modal_validate table tr td {
    position: relative;
}

#modal_validate table tr td label.error {
    width: 200px;
    color: #f00;
    font-size: 12px;
    position: absolute;
    left: 100%;
    top: 15px;
}

#editTableModal table tr td {
    position: relative;
}

#editTableModal table tr td label.error {
    width: 200px;
    color: #f00;
    font-size: 12px;
    position: absolute;
    left: 100%;
    top: 15px;
}

.option_filds {
    display: none;
}

.option_filds textarea {
    height: auto !important;
}

.select2-container--default .select2-selection--multiple {
    border-color: #ccc !important;
}

#createServerForm .form_atcion .reset {
    margin-left: 30%;
}

#createServerForm .form_atcion .submit {
    margin-left: 30px;
}

.info_special_ps {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad;
    padding: 5px;
    margin: 5px 0 0 0;
    border: 1px solid transparent;
    border-radius: 4px;
}

.modal-backdrop {
    z-index: 1110 !important;
}

.modal {
    z-index: 1111 !important;
}

.dailytitle {
    text-align: center !important;
}

.center {
    text-align: center;
}

.server_item {
    border: 1px solid #ddd;
    margin-bottom: 18px;
    position: relative;
}
.remove_server{
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
    z-index: 100;
}
.btn_area{width: 100%}
.infos{text-align: left;color: #c71c22; font-size: 16px;}
</style>
<form action="" id="vsan">
    <h3 class="js_dailytitle center">提案ID</h3>
    <div class="server_item">
        <table class="table daily_exe_tpl">
            <tbody class="js_marchine_area">
                <tr class="infos danger">
                    <td width="20%">
                        <span class="js_field">重要说明:</span>
                    </td>
                    <td width="60%" colspan="2">
                        为了避免流程重开，请运维负责人和业务负责人确认好停机时间，一旦双方都确认通过，时间将不能更改！
                    </td>
                    <td width="10%"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <table class="btn_area js_servers">
        <tbody>
            <tr>
                <td width="30%">
                    <span class="js_field"></span>
                </td>
                <td width="60%" colspan="2">
                    <p class="form_atcion">
                        <button class="btn btn-primary submit" type="submit"><i class="glyphicon glyphicon-share"></i>提交</button>
                    </p>
                </td>
                <td width="10%"></td>
            </tr>
        </tbody>
    </table>
</form>
<!-- jQuery -->
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/bootstrap/bootstrap-datetimepicker.min.js"></script>
<script src="/js/bootstrap/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/js/jquery/jquery.validate.js"></script>
<script type="text/javascript" src="/js/webuploader.js"></script>
<script src="/js/jquery.tools.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    

    $('.title').hide()
    $('.js_remark').hide()
    $('.modal-footer').hide()
    // setTimeout(function(){
    //     // $("[name='exe_desc']").val($("[name='t_desc']").html())
    // },1000)

    var list = {
        init: function() {
            var that = this;
            that.getUpdateCoordinateInfo();
           
            $("#vsan").validate({
                ignore: [],
                errorPlacement: function(error, element) {
                    $(element).closest("tr").children('td').eq(2).html(error);
                },
                //验证通过后提交数据
                submitHandler: function(form) {
                    $(".submit").attr('disabled', true)
                    that.saveVsanInfo();
                },
                debug: true
            });
            $(".js_dailytitle").html('提案：' + $.getUrlParam('id') + ' 服务器故障报修协调')
            $("[name='server_id']").val($.getUrlParam('id'))
           
        },
        saveVsanInfo: function() {
            var timeJson = []
            $.each($('.form_datetime'), function(key,val) {
                timeJson.push({ip:$("[name='ip"+key+"']").val(),desc:$("[name='desc"+key+"']").val(),time:$(this).val()})
            })

            $.ajax({
                type: "post",
                dataType: "json",
                url: "/api/Issue_Exe/updateCoordinateTime?id=" + $.getUrlParam("id") + "&role=" + $.getUrlParam("role"),
                data: {
                    timeJson: JSON.stringify(timeJson),
                },
                success: function(data) { //提交成功的回调函数
                    $('.js_remark').val(data.msg)
                    if (data.code == "400") {
                        $(".submit").attr('disabled', false)
                    }else{
                        $("#callback1").trigger('click')
                    }
                }
            });
        },
        getUpdateCoordinateInfo: function() {
            $.ajax({
                type: "post",
                dataType: "json",
                url: "/api/Issue_Exe/getUpdateCoordinateInfo?id=" + $.getUrlParam("id") + "&role=" + $.getUrlParam("role"),
                success: function(result) { //提交成功的回调函数
                    console.log(result.data)

                    var machineHtml = '';
                    $.each(result.data, function(key, val) {
                        machineHtml+='<tbody>';
                        machineHtml+='<tr>';
                        machineHtml+='<td width="20%"> <i class="glyphicon glyphicon-star red"></i>';
                        machineHtml+='<span class="js_field">内网IP</span>';
                        machineHtml+='</td>';
                        machineHtml+='<td width="60%" colspan="2">';
                        machineHtml+='<input type="text" class="form-control" name="ip'+key+'" value="'+val.ip+'" readonly="" ／>';
                        machineHtml+='</td>';
                        machineHtml+='<td width="10%"></td>';
                        machineHtml+='</tr>';
                        machineHtml+='<tr>';
                        machineHtml+='<td width="20%"> <i class="glyphicon glyphicon-star red"></i>';
                        machineHtml+='<span class="js_field">报修协调说明</span>';
                        machineHtml+='</td>';
                        machineHtml+='<td width="60%" colspan="2">';
                        machineHtml+='<textarea type="text" class="form-control" name="desc'+key+'" rows="3" readonly="">'+val.desc+'</textarea>';
                        machineHtml+='</td>';
                        machineHtml+='<td width="10%"></td>';
                        machineHtml+='</tr>';
                        machineHtml+='<tr>';
                        machineHtml+='<td width="20%"> <i class="glyphicon glyphicon-star red"></i>';
                        machineHtml+='<span class="js_field">可执行时间</span>';
                        machineHtml+='</td>';
                        machineHtml+='<td width="60%" colspan="2">';
                        machineHtml+='<input type="text" class="form-control form_datetime" name="time'+key+'" required data-label="AC健康状态" value=""  placeholder="" />';
                        machineHtml+='</td>';
                        machineHtml+='<td width="10%"></td>';
                        machineHtml+='</tr>';
                        machineHtml+='</tbody>';

                    })

                    $(".js_marchine_area").before(machineHtml)
                    $(".form_datetime").datetimepicker({
                        'language': 'zh-CN',
                        'format': "yyyy-mm-dd hh:ii:00",
                        'autoclose':true,
                        'todayBtn':true
                    });
                }
            });
        },
    }

    list.init();

});
</script>