    <!-- left menu starts -->
    <div class="col-sm-2 col-lg-2">
        <div class="sidebar-nav">
            <div class="nav-canvas">
                <ul class="nav nav-pills nav-stacked main-menu">
                    <li><a href="/admin/index/index"><i class="glyphicon glyphicon-home"></i><span> 首页</span></a></li>
                    <!--工作流管理导航-->
                    <li class="nav-header"><i class="glyphicon glyphicon-tasks"></i><span> 工作流管理</span></li>
                    <li class="accordion" id="Issue">
                        <a href="#"><i class="glyphicon glyphicon-book"></i><span> 配置管理</span></a>
                        <ul class="nav nav-pills nav-stacked secondary-menu">
                            <li id="issue-tree"><a href="/admin/issue/treelist"> 结构树</a></li>
                        </ul>
                    </li>

                    <!--系统管理导航-->
                    <li class="nav-header"><i class="glyphicon glyphicon-cog"></i><span> 系统管理</span></li>
                    <li class="accordion" id="UserAuth">
                        <a href="#"><i class="glyphicon glyphicon-user"></i><span> 用户和权限</span></a>
                        <ul class="nav nav-pills nav-stacked secondary-menu">
                            <li id="user-list"><a href="/admin/user/usrlist"> 用户列表</a></li>
                            <li id="role-list"><a href="/admin/user/rolelist"> 角色列表</a></li>
                            <li id="page-list"><a href="/admin/user/pagelist"> 资源配置</a></li>
                        </ul>
                    </li>
                    <li class="accordion">
                        <a href="#"><i class="glyphicon glyphicon-signal"></i><span> 统计报表</span></a>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#"> 设备状态统计</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <!-- left menu ends -->