<!-- left menu starts -->
<div class="col-sm-2 col-lg-2">
  <div class="sidebar-nav sidebar-nav-first">
    <div class="nav-canvas">
      <ul class="nav nav-pills nav-stacked main-menu">
        <li><a href="/index"><i class="glyphicon glyphicon-home"></i><span> 首页</span></a></li>

      </ul>
    </div>
  </div>
  
  <div class="sidebar-nav">
    <div class="nav-canvas">
      <ul class="nav nav-pills nav-stacked main-menu">
        <!-- Ifeng域名管理-->
        <li class="nav-header"><i class="glyphicon glyphicon-random"></i><span> Ifeng域名管理</span></li>
        <li class="accordion" id="DomainServer">
          <a href="#"><i class="glyphicon glyphicon-calendar"></i><span> 常用服务</span></a>
          <ul class="nav nav-pills nav-stacked secondary-menu">
            <li id="DomainServer-search"><a href="#"> 域名信息查询</a></li>
            <li id="DomainServer-issuelist"><a href="/domain/server/issueList"> 修改提案域名</a></li>
            <li id="DomainServer-request"><a href="#">申请记录查询</a></li>
          </ul>
        </li>
        <li class="accordion" id="IssueAdmin">
          <a href="#"><i class="glyphicon glyphicon-cog"></i><span> 设置管理</span></a>
          <ul class="nav nav-pills nav-stacked secondary-menu">
            <li id="DomainAdmin-set"><a href="#"> 人员设置</a></li>
            <li id="DomainAdmin-statistics"><a href="#"> 数据统计</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

</div>
<!-- left menu ends-->