<!-- left menu starts -->
<div class="col-sm-2 col-lg-2" id="leftIssueMenu">
  <div class="sidebar-nav sidebar-nav-first">
    <div class="nav-canvas">
      <ul class="nav nav-pills nav-stacked main-menu">
        <li><a href="/index"><i class="glyphicon glyphicon-home"></i><span> 首页</span></a></li>

      </ul>
    </div>
  </div>
  
  <div class="sidebar-nav">
    <div class="nav-canvas">
      <ul class="nav nav-pills nav-stacked main-menu">
        <!--PMS 流程管理-->
        <li class="nav-header"><i class="glyphicon glyphicon-random"></i><span> PMS 流程管理</span></li>
        <li class="accordion" id="IssueServer">
          <a href="#"><i class="glyphicon glyphicon-calendar"></i><span> 可用性相关</span></a>
          <ul class="nav nav-pills nav-stacked secondary-menu">
            <li id="IssueServer-index"><a href="/tech/systemlist"> 系统列表</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>

</div>
<!-- left menu ends-->