<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> 欢迎使用IFOS系统 </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="zhangyang801005">

    <!-- The styles -->
    <link id="bs-css" href="/css/bootstrap-cerulean.min.css" rel="stylesheet">
    <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <link href="/css/charisma-app.css" rel="stylesheet">
    <link href='/css/jquery.select2.min.css' rel='stylesheet'>
     <link href='/css/jquery.iphone.toggle.css' rel='stylesheet'>
     <link href='/css/webuploader.css' rel='stylesheet'>
     <link href='/css/jquery.dataTables.min.css' rel='stylesheet'>
     
    <link href="/css/uploadify.css" rel="stylesheet">
    <link href='/css/common.css' rel='stylesheet'>
    <link href='/css/newui.css' rel='stylesheet'>
    <link href='/css/ystep.css' rel='stylesheet'>

    <!-- The fav icon -->
    <link rel="shortcut icon" href="/img/favicon.ico">
    <!-- public js -->
    <script src="/js/jquery/jquery.min.js"></script>

</head>

<body>
<!-- topbar starts -->
<div class="navbar navbar-default" role="navigation">

    <div class="navbar-inner">

        <a class="navbar-brand" href="/index"> <img alt="Charisma Logo" src="/img/logo20.png" style="border-radius: 50%;" class="hidden-xs"/>
            <span> PMS </span></a>

        <!-- user dropdown starts -->
        <div class="btn-group pull-right">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-user"></i>
                <span class="hidden-sm hidden-xs" id="user"><?php echo $usr ?></span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="/issue/server/rest">设置</a></li>
                <li class="divider"></li>
                <li><a href="/login/logout">登出</a></li>
            </ul>
        </div>
        <!-- user dropdown ends -->

        <ul class="collapse navbar-collapse nav navbar-nav top-menu">
            <li><a href="#"><i class="glyphicon glyphicon-question-sign"></i> 帮助说明</a></li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-star"></i> 常用功能
                    <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/index">工作流管理</a></li>
                    <?php if(in_array($usr, array('zhangyang7','likx1'))){ ?>
                    <li><a href="/admin/index/index">后台管理</a></li>
                    <?php } ?>
                    <?php if(in_array($usr,array('yangguo','zhangyang7','yanhong','likx1'))){ ?>
                    <li><a href="/operate/vsanlist">VM管理</a></li>
                    <?php } ?>
                    <?php if(in_array($usr,array('zhaosy','zhangyang7','yanhong','likx1'))){ ?>
                    <li><a href="/tech/systemlist">系统分类</a></li>
                    <?php } ?>
                </ul>
            </li>
        </ul>

    </div>
</div>

<!-- topbar ends -->