<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">转移操作链接</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover"
        data-content="" data-original-title="转移操作链接"><input type="text" class="form-control" required="" name="t_url"
                                                            data-label="转移操作链接" value="" data-rule-regex=""
                                                            data-msg-regex="" aria-required="true"></td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>