<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">总体需求</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="总体需求"><textarea type="text" class="form-control" required="" name="t_custom_requirement" data-label="总体需求" value="" rows="3" aria-required="true"></textarea></td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">需求整理文档</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="需求整理文档"><input type="text" class="form-control" required="" name="t_requirement_doc" data-label="需求整理文档" value="" data-rule-regex="" data-msg-regex="" aria-required="true"></td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>