<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">批量操作信息描述</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="信息详细描述" data-original-title="批量操作信息描述"><textarea type="text" minlength="10" class="form-control" required="" name="t_information" data-label="批量操作信息描述" value="" rows="3" aria-required="true"></textarea></td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr class="" style="background: rgb(255, 255, 255);">
    <td width="20%" style="width: 304px;"><i class="glyphicon glyphicon-star red"></i><span class="js_name">主机列表</span>
    </td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="主机信息，可以写在文件里上传" data-original-title="主机列表" style="width: 608px;"><textarea type="text" class="form-control" required="" name="t_hosts" data-label="主机列表" value="" rows="3" aria-required="true"></textarea>
    </td>
    <td width="25%" style="width: 380px;"></td>
    <td width="15%" style="width: 227px;"></td>
</tr>
<tr>
    <td width="20%"><span class="js_name">文件（选填）</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="文件（选填）">
        <div id="uploader" name="h_file" class="wu-example">
            <div id="thelist" class="uploader-list"></div>
            <div class="btns">
                <div id="picker">选择文件</div>
                <input type="hidden" class="form-control" name="t_file" data-label="文件（选填）" value=""></div>
        </div>
    </td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>