<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i>
        <span class="js_name">上传Excel文件</span>
    </td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover"
        data-content="请上传EXCEL文件" data-original-title="上传CSV文件">
        <div id="uploader" name="h_uploadcsv" class="wu-example">
            <div id="thelist" class="uploader-list"></div>
            <div class="btns" style="position: relative;">
                <div id="serveronline">选择文件</div>
                <input type="hidden" class="form-control" required="" name="h_uploadexcelfile" data-label="上传Excel文件"
                       value="" aria-required="true">
                <a style="position: absolute;left: 100px;top: 10px;" href="/download/template/批量上线服务器信息文档(模板).xlsx">服务器批量上线Excel文件模板点击下载</a>
            </div>

        </div>

        <script>
            $(function () {
                $(".submit").attr("disabled", true);

                function getIdFromSearch(search) {
                    if (search) search = search.substring(1)
                    var formData = {}
                    search = search.split('&')
                    $.each(search, function (i, item) {
                        item = item.split('=')
                        formData[item[0]] = item[1]
                    })
                    return formData.id || ''
                }

                var uploader = WebUploader.create({
                    // swf文件路径
                    swf: '/js/Uploader.swf',

                    // 文件接收服务端。
                    server: '/api/Issue_Check/uploadExcel?type=batchOnline&id=' + getIdFromSearch(location.search),

                    // 选择文件的按钮。可选。
                    // 内部根据当前运行是创建，可能是input元素，也可能是flash.
                    pick: '#serveronline',

                    // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
                    resize: false,
                    duplicate: true,
                    auto: true
                    // fileNumLimit:1
                });
                // 当有文件被添加进队列的时候
                uploader.on('fileQueued', function (file) {
                    $("#thelist").append('<div id="' + file.id + '" class="item">' +
                            '<h4 class="info">' + file.name + '</h4>' +
                            '<p class="state">等待上传...</p>' +
                            '</div>');
                });
                uploader.on('uploadSuccess', function (file, response) {
                    $('#' + file.id).find('p.state').text("上传完毕");
                    //为保证只有一个文件上传：如果多个文件上传，取消第一个文件
                    if ($("#thelist .item").size() > 1) {
                        uploader.removeFile(file);
                        $("#thelist .item").eq(0).remove()
                    }
                    $("[name = 'h_uploadexcelfile']").val('1')

                    $.each(response.data, function (i, item) {
                        var CSVhtm = '<tr>'
                        $.each(item, function (i2, item2) {
                            var styleCss = 'padding:5px 3px;text-align:center;'
                            if(item2.chg) {
                              styleCss += 'color:#e12b31'
                            }
                            CSVhtm += '<td style="' + styleCss + '">' + item2.val + '</td>'
                        })
                        CSVhtm += '</tr>'
                        $("#ExcelData").append(CSVhtm)
                    })

                    if (response.status) {
                        $(".submit").attr("disabled", false);

                        $("[name = 't_custom_server_batch_online']").val(JSON.stringify(response.data))
                    } else {
                        $(".submit").attr("disabled", true);
                    }

                });
                // 文件上传过程中创建进度条实时显示。
                uploader.on('uploadProgress', function (file, percentage) {
                    $("#ExcelData").html('')
                    var $li = $('#' + file.id),
                            $percent = $li.find('.progress .progress-bar');

                    // 避免重复创建
                    if (!$percent.length) {
                        $percent = $('<div class="progress progress-striped active">' +
                                '<div class="progress-bar" role="progressbar" style="width:0%">' +
                                '</div>' +
                                '</div>').appendTo($li).find('.progress-bar');
                    }

                    $li.find('p.state').text('上传中');

                    $percent.css('width', percentage * 100 + '%');
                });
                uploader.on('uploadError', function (file, reason) {
                    $('#' + file.id).find('p.state').text('上传出错');
                });
                uploader.on('error', function (file, type) {
                    $('#' + file.id).find('p.state').text('上传出错');
                });

                uploader.on('uploadComplete', function (file) {
                    $('#' + file.id).find('.progress').fadeOut();
                });
            });
        </script>


    </td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>

<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i>
        <span class="js_name">文件详情</span>
    </td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover"
        data-content="" data-original-title="文件详情" colspan="3">
        <input type="hidden" class="form-control" required="" name="t_custom_server_batch_online" data-label="批量服务器上线信息"
               value="" aria-required="true">
        <div id="tablehrml">
            <table class="table-bordered" style="text-align: center;width:100%">
                <tbody>
                <tr>
                    <th style="text-align:center !important; padding: 8px 2px;overflow: hidden;text-overflow: ellipsis;white-space: pre-line;"
                        width="10%">机型
                    </th>
                    <th style="text-align:center !important; padding: 8px 2px;overflow: hidden;text-overflow: ellipsis;white-space: pre-line;"
                        width="6%">品牌
                    </th>
                    <th style="text-align:center !important; padding: 8px 2px;overflow: hidden;text-overflow: ellipsis;white-space: pre-line;"
                        width="6%">型号
                    </th>
                    <th style="text-align:center !important; padding: 8px 2px;overflow: hidden;text-overflow: ellipsis;white-space: pre-line;"
                        width="6%">高度
                    </th>
                    <th style="text-align:center !important; padding: 8px 2px;overflow: hidden;text-overflow: ellipsis;white-space: pre-line;"
                        width="6%">数量
                    </th>
                    <th style="text-align:center !important; padding: 8px 2px;overflow: hidden;text-overflow: ellipsis;white-space: pre-line;"
                        width="12%">CPU
                    </th>
                    <th style="text-align:center !important; padding: 8px 2px;overflow: hidden;text-overflow: ellipsis;white-space: pre-line;"
                        width="6%">MEM
                    </th>
                    <th style="text-align:center !important; padding: 8px 2px;overflow: hidden;text-overflow: ellipsis;white-space: pre-line;"
                        width="6%">HDD
                    </th>
                    <th style="text-align:center !important; padding: 8px 2px;overflow: hidden;text-overflow: ellipsis;white-space: pre-line;"
                        width="6%">SSD
                    </th>
                    <th style="text-align:center !important; padding: 8px 2px;overflow: hidden;text-overflow: ellipsis;white-space: pre-line;"
                        width="6">NIC-1G
                    </th>
                    <th style="text-align:center !important; padding: 8px 2px;overflow: hidden;text-overflow: ellipsis;white-space: pre-line;"
                        width="6">NIC-10G
                    </th>
                    <th style="text-align:center !important; padding: 8px 2px;overflow: hidden;text-overflow: ellipsis;white-space: pre-line;"
                        width="6">Raid-Card
                    </th>
                    <th style="text-align:center !important; padding: 8px 2px;overflow: hidden;text-overflow: ellipsis;white-space: pre-line;"
                        width="6">Vsan使用
                    </th>
                    <th style="text-align:center !important; padding: 8px 2px;overflow: hidden;text-overflow: ellipsis;white-space: pre-line;"
                        width="6">上线机房
                    </th>
                </tr>
                </tbody>
                <tbody id="ExcelData">
                </tbody>
            </table>
        </div>
    </td>
    <td width="15%"></td>
</tr>
<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i>
        <span class="js_name">备注</span>
    </td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover"
        data-content="" data-original-title="备注" >
        <textarea class="form-control" name="t_comment" data-label="备注"
               value="" a></textarea>
    </td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>