<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">权限类型</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="请选择权限类型" data-original-title="权限类型">
        <select class="form-control type" required="" name="t_type_name" data-label="权限类型" aria-required="true" aria-invalid="false">
            <option value="1">凤凰网中轻办公区网络访问权限申请</option>
            <option value="2">一点资讯与凤凰网网络访问权限申请</option>
            <option value="3">凤凰房产与凤凰网网络访问权限申请</option>
            <option value="4">济南审核中心与凤凰网网络访问权限申请</option>
            <option value="5">凤凰网办公区访问海外资源权限</option>
            <option value="6">凤凰网办公区出口带宽提速申请</option>
        </select>
    </td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">网络信息</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="请输入网络信息" data-original-title="网络信息">
        <input type="text" class="form-control" required="" name="t_custom_apply_network_access" data-label="网络信息" value="" data-msg-regex="" aria-required="true">
    </td>
    <td width="25%" class="js_check_msg"></td>
    <td width="15%"></td>
</tr>