<style type="text/css" media="screen" style="">
	.item_table_area{border: 1px solid #ddd;}
	.table_items{text-align: left !important;line-height: 1.8;padding-left: 20px;}
</style>
<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">需巡检设备</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="需巡检设备">
     	<input type="hidden" name="t_device" data-label="需巡检设备" value="">
    	<table class="item_table_area" width="100%">
    		<thead>
    			<tr>
    				<th style="width: 50%;text-align: left;background: #ddd; padding-left: 20px;line-height: 2.0">主机名</th>
    				<th style="width: 50%;text-align: left;background: #ddd; padding-left: 20px;line-height: 2.0">IP</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr>
    				<td class="table_items">TJ-J01-13-EDGE-H6820-Syq&nbsp;</td>
    				<td class="table_items">10.81.254.231</td>
    			</tr>
    			<tr>
    				<td class="table_items">TJ-I01-13-EDGE-H6820-Zq</td>
    				<td class="table_items">10.81.254.232</td>
    			</tr>
    			<tr>
    				<td class="table_items">SYQ-H01-25-EDGE-H6820-Tj</td>
    				<td class="table_items">10.90.253.231</td>
    			</tr>
    			<tr>
    				<td class="table_items">SYQ-H01-23-EDGE-H6820-Zq&nbsp; </td>
    				<td class="table_items">10.90.253.232</td>
    			</tr>
    			<tr>
    				<td class="table_items">ZQ-15F12-41-EDGE-H6820-Tj&nbsp;</td>
    				<td class="table_items">172.30.101.231</td>
    			</tr>
    			<tr>
    				<td class="table_items">ZQ-15F11-39-EDGE-H6820-Syq</td>
    				<td class="table_items">172.30.101.232</td>
    			</tr>
    			<tr>
    				<td class="table_items">TJ-J01-42-COR-H6820</td>
    				<td class="table_items">10.81.254.254</td>
    			</tr>
    			<tr>
    				<td class="table_items">TJ-J06-49-COR-H6820</td>
    				<td class="table_items">10.81.254.252</td>
    			</tr>
    			<tr>
    				<td class="table_items">TJ-I01-42-COR-H6820</td>
    				<td class="table_items">10.81.254.253</td>
    			</tr>
    			<tr>
    				<td class="table_items">TJ-I06-49-COR-H6820</td>
    				<td class="table_items">10.81.254.251</td>
    			</tr>
    			<tr>
    				<td class="table_items">TJ-I01J01-47-ECOR-H6800-St</td>
    				<td class="table_items">10.81.254.242</td>
				</tr>
				<tr>
    				<td class="table_items">SYQ-F01-26-COR-J5100-St</td>
    				<td class="table_items">10.90.0.254</td>
				</tr>
				<tr>
    				<td class="table_items">SYQ-H01-39-AGG-J5100-St</td>
    				<td class="table_items">10.90.0.248</td>
				</tr>
				<tr>
    				<td class="table_items">SYQ-F01-28-EACC-J4550-St</td>
    				<td class="table_items">10.90.0.252</td>
				</tr>
				<tr>
    				<td class="table_items">ZQ-15F11-5-COR-H10508-St</td>
    				<td class="table_items">172.30.254.254</td>
				</tr>
				<tr>
    				<td class="table_items">ZQ-15F12-19-FW-HS6000</td>
    				<td class="table_items">172.30.254.241</td>
				</tr>
				<tr>
    				<td class="table_items">CZ-2F1-29-COR-J4550</td>
    				<td class="table_items">172.28.253.4</td>
				</tr>
				<tr>
    				<td class="table_items">CZ-2F1-31-COR-J4550</td>
    				<td class="table_items">172.28.253.3</td>
				</tr>
				<tr>
    				<td class="table_items">FT-I9-3-COR-C3750</td>
    				<td class="table_items">10.40.0.254</td>
    			</tr>
    		</tbody>
    	</table>
    </td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">是否存在硬件故障</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="是否存在硬件故障">
        <input type="radio" name="t_device_error" data-label="是否存在硬件故障" checked="checked" value="1" required="" aria-required="true">
        <label>否</label>
        <input type="radio" name="t_device_error" data-label="是否存在硬件故障" value="2" required="" aria-required="true">
        <label>是</label>
　　</td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">是否存在系统错误</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="是否存在系统错误">        
        <input type="radio" name="t_os_error" data-label="是否存在系统错误" checked="checked" value="1" required="" aria-required="true">
        <label>否</label>
        <input type="radio" name="t_os_error" data-label="是否存在系统错误" value="2" required="" aria-required="true">
        <label>是</label>
</td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">时间源同步是否正常</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="时间源同步是否正常">
        <input type="radio" name="t_time" data-label="时间源同步是否正常" value="1" required="" checked="checked" aria-required="true">
        <label>正常</label>
        <input type="radio" name="t_time" data-label="时间源同步是否正常" value="2" required="" aria-required="true">
        <label>异常</label>　　</td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">系统日志反馈是否正常</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="系统日志反馈是否正常">
        <input type="radio" name="t_oslog" data-label="系统日志反馈是否正常" value="1" required="" checked="checked" aria-required="true">
        <label>正常</label>
        <input type="radio" name="t_oslog" data-label="系统日志反馈是否正常" value="2" required="" aria-required="true">
        <label>异常</label>　　</td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">配置自动备份是否正常</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="配置自动备份是否正常">
        <input type="radio" name="t_config" data-label="配置自动备份是否正常" value="1" required="" checked="checked" aria-required="true">
        <label>正常</label>
        <input type="radio" name="t_config" data-label="配置自动备份是否正常" value="2" required="" aria-required="true">
        <label>异常</label>　　</td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<script style="">
    $(function() {
        $(".submit").attr("disabled",true);  
    })
</script>