<tr>
    <td width="20%">
        <i class="glyphicon glyphicon-star red"></i><span class="js_name">服务器IP</span>
    </td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="需要销毁数据的服务器IP地址" data-original-title="服务器IP">
        <input type="text" class="form-control" required="" name="t_ip" data-label="服务器IP" value="" data-rule-regex="" data-msg-regex="" aria-required="true">
        <p class="info_special_ps">请输入需要销毁数据的服务器IP地址</p>
    </td>
    <td width="25%"></td>
    <td width="15%"></td></tr>
<tr>
    <td width="20%">
        <i class="glyphicon glyphicon-star red"></i><span class="js_name">数据内容描述</span>
    </td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="数据内容描述" data-original-title="数据内容描述">
        <input type="text" class="form-control" required="" name="t_desc" data-label="数据内容描述" value="" data-rule-regex="" data-msg-regex="" aria-required="true">
    </td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr>
    <td width="20%">
        <i class="glyphicon glyphicon-star red"></i><span class="js_name">销毁原因</span>
    </td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="销毁原因" data-original-title="销毁原因">
        <input type="text" class="form-control" required="" name="t_reason" data-label="销毁原因" value="" data-rule-regex="" data-msg-regex="" aria-required="true">
    </td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>

<!--<tr>-->
    <!--<td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">执行反馈</span></td>-->
    <!--<td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="执行反馈"><textarea type="text" class="form-control" required="" name="t_log_status" data-label="执行反馈" value="" rows="3" aria-required="true"></textarea> </td>-->
    <!--<td width="25%"></td>-->
    <!--<td width="15%"></td>-->
<!--</tr>-->
<!--<tr>-->
    <!--<td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">反馈截图</span></td>-->
    <!--<td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="反馈截图">-->
    <!--<div id="uploader" name="h_log_pic" class="wu-example">-->
    <!--<div id="thelist" class="uploader-list"></div>-->
    <!--<div class="btns">-->
    <!--<div id="picker">选择文件</div><input type="hidden" class="form-control" required="" name="t_log_pic" data-label="反馈截图" value="" aria-required="true">-->
    <!--</div>-->
    <!--</div>-->
    <!--</td>-->
    <!--<td width="25%"></td>-->
    <!--<td width="15%"></td>-->
<!--</tr>-->