<tr>
    <td width="20%" style="width: 305px;">
        <!-- <i class="glyphicon glyphicon-star red"></i> -->
        <!-- <span class="js_name">开发人员权限</span> -->
    </td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="" style="width: 610px;">
        <input type="hidden" class="form-control" required="" name="h_SteppingStones" data-label="开发人员权限" value="2" data-rule-regex="/^1/" data-msg-regex="您还没有申请开发人员权限" aria-required="true">
        <p type="hidden" class="js_SteppingStones info_special_ps">您尚未申请该权限，可点击提交按钮进行申请。</p>
        <script>
            $(function () {
                $.ajax({
                    url: "/api/issue_check/checkDeveloperRights",
                    type: "GET",
                    dataType: "json",
                    success: function (result) {
                        if (result.status) {
                            $("[name ='h_SteppingStones']").val(2);
                            $(".js_SteppingStones").html("您已申请该权限，请勿重复申请。")
                            $(".submit").attr("disabled", true);
                            $("[name ='t_type']").attr("disabled", true);
                            $("[name ='t_iplist']").attr("disabled", true);
                        } else {
                            $(".js_SteppingStones").html(result.msg);
                            $("#iplist").removeAttr("readonly");
                            $("[name ='h_SteppingStones']").val(1);
                            $("[name ='i_father']").val(result.data);
                            $(".submit").attr("disabled", false);
                        }
                    },
                    error: function () {
                        console.log("error");
                    }

                })
            })
        </script>

    </td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>