<tr>
	<td width="20%"> <i class="glyphicon glyphicon-star red"></i>
		<span class="js_name">机房</span>
	</td>
	<td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="服务器所在机房" data-original-title="机房">
		<input type="text" class="form-control" required="" name="t_idc" data-label="机房" value="" data-rule-regex="" data-msg-regex=""></td>
	<td width="25%"></td>
	<td width="15%"></td>
</tr>
<tr>
	<td width="20%"> <i class="glyphicon glyphicon-star red"></i>
		<span class="js_name">IP或机身码</span>
	</td>
	<td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="IP或机身码">
		<textarea type="text" class="form-control" required="" name="t_iporsn" data-label="IP或机身码" value="" rows="3"></textarea>
	</td>
	<td width="25%"></td>
	<td width="15%"></td>
</tr>
<tr>
	<td width="20%">
		<i class="glyphicon glyphicon-star red"></i>
		<span class="js_name">磁盘类型</span>
	</td>
	<td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="磁盘类型">
		<input type="radio" name="t_type" data-label="磁盘类型" value="1" required="" checked="checked">
		<label>机械硬盘</label>
		<input type="radio" name="t_type" data-label="磁盘类型" value="2" required="">
		<label>SSD</label>
	</td>
	<td width="25%"></td>
	<td width="15%"></td>
</tr>
<tr>
	<td width="20%">
		<i class="glyphicon glyphicon-star red"></i>
		<span class="js_name">磁盘容量</span>
	</td>
	<td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="磁盘容量大小单位G" data-original-title="磁盘容量">
		<input type="text" class="form-control" style="width:82%; display:inline;margin-right:10px;" required="" name="t_capacity" data-label="磁盘容量" value="" data-rule-regex="" data-msg-regex="">单位(T)</td>
	<td width="25%"></td>
	<td width="15%"></td>
</tr>
<tr>
	<td width="20%">
		<i class="glyphicon glyphicon-star red"></i>
		<span class="js_name">磁盘数量</span>
	</td>
	<td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="磁盘数量" data-original-title="磁盘数量">
		<input type="text" class="form-control" required="" name="t_num" data-label="磁盘数量" value="" data-rule-regex="/[1-9]\d*/" data-msg-regex="必须为自然数"></td>
	<td width="25%"></td>
	<td width="15%"></td>
</tr>
<tr>
	<td width="20%">
		<i class="glyphicon glyphicon-star red"></i>
		<span class="js_name">备注</span>
	</td>
	<td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="备注">
		<textarea type="text" class="form-control" required="" name="t_remark" data-label="备注" value="" rows="3"></textarea>
	</td>
	<td width="25%"></td>
	<td width="15%"></td>
</tr>