<tr>
	<td width="20%"> <i class="glyphicon glyphicon-star red"></i>
		<span class="js_name">服务器IP</span>
	</td>
	<td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="请输入服务器列IP列表，一行仅能输入一个IP" data-original-title="服务器IP">
		<textarea type="text" class="form-control iplisttest" required="" name="t_serverIPlist" data-label="服务器IP" value="" rows="3" aria-required="true"></textarea>
	</td>
	<td width="25%"></td>
	<td width="15%"></td>
</tr>
<tr>
	<td width="20%"> <i class="glyphicon glyphicon-star red"></i>
		<span class="js_name">变更说明</span>
	</td>
	<td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="请输入变更说明" data-original-title="变更说明">
		<textarea type="text" class="form-control" required="" name="t_explain" data-label="变更说明" value="" rows="3" aria-required="true"></textarea>
	</td>
	<td width="25%"></td>
	<td width="15%"></td>
</tr>
<tr>
	<td width="20%">
		<i class="glyphicon glyphicon-star red"></i>
		<span class="js_name">新项目负责人</span>
	</td>
	<td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="请输入项目负责人域账号" data-original-title="新项目负责人">
		<input type="text" class="form-control" required="" name="t_name_newleader" data-label="新项目负责人" value="" data-rule-remote="/api/issue_check/checkHeadName" data-rule-regex="" data-msg-regex="" aria-required="true"></td>
	<td width="25%"></td>
	<td width="15%"></td>
</tr>
<tr>
	<td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">新开发负责人</span></td>
	<td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="请输入开发负责人域账号" data-original-title="新开发负责人"><input type="text" class="form-control" required="" name="t_name_devleader" data-label="新开发负责人" value="" data-rule-regex="" data-msg-regex="" aria-required="true"> </td>
	<td width="25%"></td>
	<td width="15%"></td>
</tr>