<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">办公地点</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="办公地点" data-original-title="办公地点"><input type="radio" name="t_location" data-label="办公地点" value="1" required="" checked="checked" aria-required="true"><label>中轻</label>　　<input type="radio" name="t_location" data-label="办公地点" value="2" required="" aria-required="true"><label>朗园</label>　　
    </td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">是否全格</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="是否全部格式化系统" data-original-title="是否全格"><input type="radio" name="t_format" data-label="是否全格" value="1" required="" checked="checked" aria-required="true"><label>全部格式化</label>　　<input type="radio" name="t_format" data-label="是否全格" value="2" required="" aria-required="true"><label>只格C盘</label>　　<p class="info_special_ps">若只格C盘，请自行备份C盘</p></td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">操作系统</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="操作系统版本位数" data-original-title="操作系统"><input type="radio" name="t_system" data-label="操作系统" value="1" required="" checked="checked" aria-required="true"><label>32位</label>　　<input type="radio" name="t_system" data-label="操作系统" value="2" required="" aria-required="true"><label>64位</label>　　
        <p class="info_special_ps">若无特殊需求，默认安装32位</p></td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">机型</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="机器类型" data-original-title="机型"><select class="valid" required="" name="t_type" data-label="机型" aria-required="true" aria-invalid="false">
        <option value="1">笔记本</option>
        <option value="2">台式机</option>
    </select></td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">数量</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="安装数量" data-original-title="数量"><select class="" required="" name="t_number" data-label="数量" aria-required="true">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select></td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>