<tr>
    <td width="20%"> <i class="glyphicon glyphicon-star red"></i>
        <span class="js_name">竖井交换机故障数量</span>
    </td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="竖井交换机故障数量">
        <input type="text" class="form-control" required="" name="t_shaft_num" data-label="竖井交换机故障数量" value="" data-rule-regex="/^[0-9]*$/" data-msg-regex="数量必须数字" aria-required="true" aria-invalid="true"></td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr class="" style="background: rgb(255, 255, 255);">
    <td width="20%" style="width: 284px;">
        <span class="js_name">竖井交换机故障描述</span>
    </td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="竖井交换机故障描述" style="width: 566px;">
        <textarea type="text" class="form-control" name="t_shaft_desc" data-label="竖井交换机故障描述" value="" rows="3"></textarea>
    </td>
    <td width="25%" style="width: 353px;"></td>
    <td width="15%" style="width: 212px;"></td>
</tr>
<tr>
    <td width="20%"> <i class="glyphicon glyphicon-star red"></i>
        <span class="js_name">2层机房交换机故障数量</span>
    </td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="2层机房交换机故障数量">
        <input type="text" class="form-control" required="" name="t_twolayer_num" data-label="2层机房交换机故障数量" value="" data-rule-regex="/^[0-9]*$/" data-msg-regex="数量必须是数字" aria-required="true"></td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr>
    <td width="20%">
        <span class="js_name">2层机房交换机故障描述</span>
    </td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="2层机房交换机故障描述">
        <textarea type="text" class="form-control" name="t_twolayer_desc" data-label="2层机房交换机故障描述" value="" rows="3"></textarea>
    </td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr class="" style="background: rgb(255, 255, 255);">
    <td width="20%" style="width: 284px;">
        <i class="glyphicon glyphicon-star red"></i>
        <span class="js_name">9层机房交换机故障数量</span>
    </td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="9层机房交换机故障数量" style="width: 566px;">
        <input type="text" class="form-control" required="" name="t_ninelayer_num" data-label="9层机房交换机故障数量" value="" data-rule-regex="/^[0-9]*$/" data-msg-regex="数量必须是数字" aria-required="true"></td>
    <td width="25%" style="width: 353px;"></td>
    <td width="15%" style="width: 212px;"></td>
</tr>
<tr>
    <td width="20%">
        <span class="js_name">9层机房交换机故障描述</span>
    </td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="9层机房交换机故障描述">
        <textarea type="text" class="form-control" name="t_ninelayer_desc" data-label="9层机房交换机故障描述" value="" rows="3"></textarea>
    </td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr>
    <td width="20%">
        <i class="glyphicon glyphicon-star red"></i>
        <span class="js_name">15层机房交换机故障数量</span>
    </td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="15层机房交换机故障数量">
        <input type="text" class="form-control" required="" name="t_fifteenlayers_num" data-label="15层机房交换机故障数量" value="" data-rule-regex="/^[0-9]*$/" data-msg-regex="数量必须是数字" aria-required="true"></td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr>
    <td width="20%">
        <span class="js_name">15层机房交换机故障描述</span>
    </td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="15层机房交换机故障描述">
        <textarea type="text" class="form-control" name="t_fifteenlayers_desc" data-label="15层机房交换机故障描述" value="" rows="3"></textarea>
    </td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<script>
    $(function() {
        $(".submit").attr("disabled",true);  
    })
</script>