<tr>
    <td width="20%"></td>
    <td width="40%">
        <p class="alert alert-danger js_hasAuth" style="margin-bottom:0px; background-color: #f2dede; border-color: #eed3d7; color: #b94a48;">您可以申请该服务!</p>
        <script>
            $(function() {
                $.ajax({
                    url: "/api/issue_check/checkUserInK8s?uid="+$("#user").html(),
                    type: "GET",
                    dataType: "json",
                    success: function(result) {
                        if(!result.status){
                        }
                        $(".submit").attr("disabled",!result.status); 
                        $(".js_hasAuth").html(result.msg)
                    },
                    error: function() {
                        console.log("error");
                    }
                })
            })
        </script>

    </td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">申请说明</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="申请说明"><input type="text" class="form-control" required="" name="t_name" data-label="申请说明" value="" data-rule-regex="" data-msg-regex="" aria-required="true"></td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>