<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">紧急程度</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="进度成都" data-original-title="紧急程度"><input type="radio" name="t_urgent" data-label="紧急程度" value="1" required="" checked="checked" aria-required="true"><label>高</label>　　<input type="radio" name="t_urgent" data-label="紧急程度" value="2" required="" aria-required="true"><label>中</label>　　<input type="radio" name="t_urgent" data-label="紧急程度" value="3" required="" aria-required="true"><label>低</label>　　</td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">办公地点</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="办公四点" data-original-title="办公地点"><input type="radio" name="t_location" data-label="办公地点" value="1" required="" checked="checked" aria-required="true"><label>中轻</label>　　<input type="radio" name="t_location" data-label="办公地点" value="2" required="" aria-required="true"><label>朗园</label></td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">问题类型</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="问题类型" data-original-title="问题类型"><select type="text" class="valid" required="" name="t_type" data-label="问题类型" value="" rows="1" aria-required="true" aria-invalid="false"><option value="1">业务问题</option><option value="2">硬件问题-外设问题</option><option value="3">硬件问题-打印故障</option><option value="4">软件问题-Offer问题</option><option value="5">软件问题-标准软件</option><option value="6">软件问题-专业软件</option><option value="7">云桌面问题-外接设备故障</option></select> </td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">工单描述</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="工单信息详细描述" data-original-title="工单描述"><textarea type="text" class="form-control" required="" name="t_describe" data-label="工单描述" value="" rows="3" aria-required="true"></textarea></td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr>
    <td width="20%"><span class="js_name">上传图片</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="上传故障截图" data-original-title="上传图片"><input type="file" id="file_upload" name="file_upload"><input type="hidden" class="form-control" name="t_upload_pic" data-label="上传图片" value=""></td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>