<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">系统名称</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="用于WeChat Title消息前缀" data-original-title="系统名称"><input type="text" class="form-control" required="" name="t_sysname" data-label="系统名称" value="" data-rule-regex="" data-msg-regex="">
	<p class="info_special_ps">wechat title消息前缀,用于区分信息来源,例如系统名称为:PMS,企业微信消息前缀:【PMS】</p>
    </td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">每日发送数量上限</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="最大值500" data-original-title="每日发送数量上限"><input type="text" class="form-control" required="" name="t_daylimit" data-label="每日发送数量上限" value="" placeholder="最大数量500" data-rule-regex="/^(500|[1-4][0-9][0-9]|[1-9][0-9]|[1-9])$/" data-msg-regex="请输入小于500的数字"></td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">申请说明</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="申请说明"><textarea type="text" class="form-control" required="" minlength="10" name="t_desc" data-label="申请说明" value="" rows="3" placeholder="不能少于10个字"></textarea></td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>