<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">制度名称</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="制度名称"><input type="text" class="form-control" required="" name="t_name" data-label="制度名称" value="" data-rule-regex="" data-msg-regex="" aria-required="true"></td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">版次</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="版次"><input type="text" class="form-control" required="" name="t_version" data-label="版次" value="" data-rule-regex="" data-msg-regex="" aria-required="true">
    </td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">制订部门</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="制订部门"><input type="text" class="form-control" required="" name="t_enact" data-label="制订部门" value="" data-rule-regex="" data-msg-regex="" aria-required="true"></td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">执行部门</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="执行部门"><input type="text" class="form-control" required="" name="t_exedept" data-label="执行部门" value="" data-rule-regex="" data-msg-regex="" aria-required="true"></td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">制定时间</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="制定时间"><input type="text" class="form-control form_datetime" required="" name="t_enactdate" data-label="制定时间" readonly="" size="16" value="" aria-required="true"></td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">本制度为</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="本制度为"><select class="form-control valid" required="" name="t_neworold" data-label="本制度为" aria-required="true" aria-invalid="false">
        <option value="1">新制订制度</option>
        <option value="2">旧制度修订</option>
    </select></td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">制度类型</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="制度类型">
        <input type="radio" name="t_type" data-label="制度类型" value="1" required="" checked="checked" aria-required="true"><label>一级规章制度：适用于全体员工</label><br><input type="radio" name="t_type" data-label="制度类型" value="2" required="" aria-required="true"><label>二级规章制度：适用于部分员工,即制度仅约束特定部门或分支机构所属员工</label>　　
    </td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">颁布方式</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="颁布方式"><input type="radio" name="t_way" data-label="颁布方式" value="1" required="" checked="checked" aria-required="true"><label>纸介质公告栏</label>　　<input type="radio" name="t_way" data-label="颁布方式" value="2" required="" aria-required="true"><label>内部BBS</label>　　<input type="radio" name="t_way" data-label="颁布方式" value="3" required="" aria-required="true"><label>电子邮件</label>　　
    </td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">颁布日期</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="颁布日期"><input type="text" class="form-control form_datetime" required="" name="t_issueddate" data-label="颁布日期" readonly="" size="16" aria-required="true">
    </td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">制订/修订原因</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="制订/修订原因"><input type="text" class="form-control" required="" name="t_reason" data-label="制订/修订原因" value="" data-rule-regex="" data-msg-regex="" aria-required="true"></td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">制度概述</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="制度概述"><textarea type="text" class="form-control" required="" name="t_overview" data-label="制度概述" value="" rows="3" aria-required="true"></textarea></td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>                                    <tr><td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">上传文件</span></td><td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="上传文件"><div id="uploader" name="h_upload" class="wu-example"><div id="thelist" class="uploader-list"></div><div class="btns"><div id="picker">选择文件</div><input type="hidden" class="form-control" required="" name="t_upload" data-label="上传文件" value=""></div></div></td><td width="25%"></td><td width="15%"></td></tr>