<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">权限描述</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="权限描述"><textarea type="text" class="form-control" required="" name="t_remark" data-label="权限描述" value="" rows="3" aria-required="true"></textarea></td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<!--<tr>-->
    <!--<td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">执行反馈</span></td>-->
    <!--<td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="执行反馈"><textarea type="text" class="form-control" required="" name="t_log_status" data-label="执行反馈" value="" rows="3"></textarea> </td>-->
    <!--<td width="25%"></td>-->
    <!--<td width="15%"></td>-->
<!--</tr>-->
<!--<tr>-->
    <!--<td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">权限信息截图</span></td>-->
    <!--<td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="权限信息截图">-->
        <!--<div id="uploader" name="h_log_pic" class="wu-example">-->
            <!--<div id="thelist" class="uploader-list"></div>-->
            <!--<div class="btns">-->
                <!--<div id="picker">选择文件</div><input type="hidden" class="form-control" required="" name="t_log_pic" data-label="权限信息截图" value="" aria-required="true">-->
            <!--</div>-->
        <!--</div>-->
    <!--</td>-->
    <!--<td width="25%"></td>-->
    <!--<td width="15%"></td>-->
<!--</tr>-->