<tr class="" style="background: rgb(255, 255, 255);">
	<td width="20%" style="width: 306px;">
		<i class="glyphicon glyphicon-star red"></i><span class="js_name">申请域名</span>
	</td>
	<td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="请选择申请域名" data-original-title="申请域名" style="width: 610px;">
		<input type="text" class="form-control" required="" name="t_domain" data-label="申请域名" size="16"></td>
	<td width="25%" style="width: 381px;"></td>
	<td width="15%" style="width: 228px;"></td>
</tr>