<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">测试</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="测试"><input type="radio" name="t_test" data-label="测试" value="1" required="" checked="checked" aria-required="true" class="valid"><label>是</label>　　<input type="radio" name="t_test" data-label="测试" value="2" required="" aria-required="true" class="valid"><label>否</label>　　
    </td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">业务负责人</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="业务负责人"><input type="text" class="form-control" required="" name="t_name_business" data-label="业务负责人" value="" data-rule-regex="" data-msg-regex="" aria-required="true" aria-invalid="true"></td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr>
    <td width="20%"><span class="js_name">手机号</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="手机号"><input type="text" class="form-control valid" name="t_mobile" data-label="手机号" value="" data-rule-regex="/^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1})|145|147|170|176|177|178)+\d{8})$/" data-msg-regex="手机号非法"></td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>