<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">日志保存是否正常</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="日志保存是否正常">
        <input type="text" class="form-control" required="" name="t_save" data-label="日志保存是否正常" value="" data-rule-regex="" data-msg-regex="" aria-required="true"> </td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<tr>
    <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">留存是否6个月以上</span></td>
    <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="留存是否6个月以上">
        <input type="text" class="form-control" required="" name="t_savetime" data-label="留存是否6个月以上" value="" data-rule-regex="" data-msg-regex="" aria-required="true"> </td>
    <td width="25%"></td>
    <td width="15%"></td>
</tr>
<script style="">
$(function() {
    $(".submit").attr("disabled", true);
})
</script>                                    <tr><td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">上传截图</span></td><td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="" data-original-title="上传截图"><div id="uploader" name="h_upload" class="wu-example"><div id="thelist" class="uploader-list"></div><div class="btns"><div id="picker">选择文件</div><input type="hidden" class="form-control" required="" name="t_upload" data-label="上传截图" value=""></div></div></td><td width="25%"></td><td width="15%"></td></tr>