<tr>
  <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">可信域名</span></td>
  <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover"
    data-content="" data-original-title="可信域名">
    <p class="alert alert-danger js_hasAuth"
      style="margin-bottom:10px; background-color: #f2dede; border-color: #eed3d7; color: #b94a48; padding: 8px 8px;">
      可信域名: 必须与访问链接的域名完全一致<br>　　　　 (包括端口号,但与协议头/链接路径无关)
      <br>　　　　 可信域名示例与API信息 <a href="https://u.ifeng.com/E6Ru">https://u.ifeng.com/E6Ru</a>
    </p>
    <input type="text" class="form-control" required="" name="t_domain" data-label="可信域名" value="" data-rule-regex=""
      data-msg-regex="">

  </td>
  <td width="25%"></td>
  <td width="15%"></td>
</tr>
<tr>
  <td width="20%"><i class="glyphicon glyphicon-star red"></i><span class="js_name">需求描述</span></td>
  <td width="40%" title="" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover"
    data-content="" data-original-title="需求描述"><input type="text" class="form-control" required="" name="t_remark"
      data-label="需求描述" value="" data-rule-regex="" data-msg-regex=""></td>
  <td width="25%"></td>
  <td width="15%"></td>
</tr>