<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> 欢迎使用IFOS系统 </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="zhangyang801005">

    <link id="bs-css" href="/css/bootstrap-cerulean.min.css" rel="stylesheet">
    <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <link href="/css/charisma-app.css" rel="stylesheet">
    <link href='/css/common.css' rel='stylesheet'>
    <link rel="shortcut icon" href="/img/favicon.ico">

</head>

<body>
	<div class="navbar navbar-default" role="navigation">

	    <div class="navbar-inner">
	       
	        <a class="navbar-brand" href="/index"> <img alt="Charisma Logo" src="/img/logo20.png" style="border-radius: 50%;" class="hidden-xs"/>
	            <span> IFOS </span></a>
	    </div>
	</div>
	 <div class="row" style="width:80%;margin:0 auto;">
        <div class="box col-md-12">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2><i class="glyphicon glyphicon-barcode"></i> 详细信息 </h2>
                </div>
                <div class="box-content">
                    %{page_info}
                </div>
            </div>
        </div>
    </div>
	<footer>
		<hr>
		<div class='clear'>
	    	<p class="copyright" style="float:left">© IFOS 2016 - 2020</p>
	    	<p class="powered-by" style="float:right">凤凰网运维中心</p>
		</div>
	</footer>
</body>